:root {
  --main-font-family: "Abhaya Libre SemiBold";
  --main-color: #070707;
  --secondary-color: #828282;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-color);
}

.link {
  text-decoration: none;
}

hr {
  margin: 0;
  padding: 0;

  width: 927px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

.icon {
  width: 42px;
  height: 41px;
}

.btn {
  display: block;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.17;

  border-radius: 180px;
  color: #ffffff;
  background-color: var(--main-color);
  text-decoration: none;
}

.section {
  min-width: 100%;
}

.section:nth-child(2n + 1) {
  background-color: #f6f6f6;
}

.menu {
  position: absolute;
  left: 312px;
  top: 68px;
}

.title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
}

.description {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.17;
}

.container {
  padding-left: 72px;
  padding-right: 72px;
  margin-left: auto;
  margin-right: auto;

  width: 1083px;
}

/* Header */

nav .menu {
  display: none;
}

.nav-list {
  margin: 0;
  padding: 0;

  display: flex;
}

.nav-list .item {
  display: block;
  padding-top: 33px;
  padding-bottom: 33px;
}

.nav-link {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.17;
}

.current {
  color: var(--main-color);
}

.nav-list .item:not(:last-child) {
  margin-right: 156px;
}

/* Intro section */

.intro {
  padding-top: 40px;
  padding-bottom: 40px;
}

.intro .wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  margin-bottom: 30px;
  align-items: center;

  width: 954px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;

  display: block;
  width: 123px;

  font-weight: 600;
  font-size: 47px;
  line-height: 1.19;
}

.lang {
  font-weight: 600;
  transform: rotate(-90deg);
}

.accent {
  color: var(--secondary-color);
}

/* About me section */

.about-me {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-me .container {
  text-align: center;
  /* */
}

.about-me .title + p {
  margin-top: 20px;
}

.about-me .description {
  margin-top: 52px;
}

/* Skills section */

.skills {
  padding-top: 91px;
  padding-bottom: 91px;
  text-align: center;
}

.skills .description {
  margin-top: 70px;
}

.skills-list {
  margin-top: 83px;

  display: flex;
  justify-content: center;
}

.skills-list .item:not(:last-child) {
  margin-right: 90px;
}

.skill-description {
  margin-top: 24px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  color: #828282;
}

.stars {
  display: flex;

  margin-top: 41px;
}

.stars .item:not(:last-child) {
  margin-right: 9px;
}

.skills-list .item:last-child .stars {
  margin-top: 57px;
}

.star {
  width: 26px;
  height: 26px;
}

/* Portfolio section */

.portfolio {
  padding-top: 99px;
  padding-bottom: 99px;
  text-align: center;
}

.portfolio-list {
  margin-top: 47px;
}

.portfolio-list .link {
  margin-top: 45px;

  display: inline-block;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.17;

  color: var(--main-color);

  text-decoration: underline;
}

.portfolio-list .item:not(:last-child) {
  margin-bottom: 99px;
}

/* Footer */

.footer {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .description {
  margin-top: 20px;
}

.footer .btn {
  margin-top: 42px;
  margin-right: auto;
  margin-left: auto;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 29px;
  padding-right: 29px;

  width: 180px;
}

.contact-list {
  margin-top: 86px;

  display: flex;
  justify-content: center;
}

.contact-list .item:not(:last-child) {
  margin-right: 61px;
}

.footer .description {
  margin-top: 45px;

  color: var(--secondary-color);
}

@media all and (max-width: 376px) {
  /* Mobile header */

  html,
  body {
    overflow-x: hidden;
  }

  .section {
    width: 376px;
  }

  .container {
    margin: 0;
    padding-left: 26px;
    padding-right: 26px;
    width: 360px;
  }

  img {
    max-width: 100%;
  }

  nav .menu {
    display: block;
  }

  nav .rectangle {
    width: 33px;
    height: 4px;
    background-color: var(--main-color);
  }

  nav .rectangle:not(:last-child) {
    margin-bottom: 4px;
  }

  nav .container {
    display: none;
  }

  /* Mobile intro */

  .intro .wrapper {
    margin-bottom: 37px;

    display: block;
  }

  .intro .description {
    margin-top: 23px;
  }

  .intro .lang {
    display: none;
  }

  /* Mobile About me */

  .about-me .description {
    display: inline-block;
    text-align: center;
    max-width: 266px;
  }

  /* Mobile Skills */

  .skills-list {
    flex-wrap: wrap;
    margin: 0;
  }

  .skills-list > .item {
    margin: 70px 0 !important;
    min-width: 166px;
  }

  /* Mobile footer */

  .footer .btn {
    padding-right: 97px;
    padding-left: 97px;
    width: 316px;
  }

  .contact-list {
    justify-content: start;
  }

  .contact-list .item:not(:last-child) {
    margin-right: 51px;
  }
}
