:root {
  --main-font-family: "Radio Canada", sans-serif;
  --main-font-size: 18px;
  --main-color: #070707;
  --secondary-color: #828282;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* header */

.nav-list {
  width: 1146px;
  height: 25px;
  margin: 33px 252px;
}

.nav-list li {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.17;
  float: left;
  margin-right: 156px;
}

.current {
  color: var(--main-color);
}

header hr {
  width: 958.6px;
  margin-left: 286px;
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

/* intro section */

.intro {
  width: 988px;
  margin-left: 286px;
}

.intro h1,
.intro p,
.lang {
  float: left;
}

.intro h1 {
  font-weight: 600;
  font-size: 47px;
  line-height: 1.2;
}

.intro p {
  margin: 90px 296px;
}

.lang {
  color: var(--secondary-color);
  transform: rotate(-90deg);
  margin-top: 66px;
  margin-left: 38px;
}

.current-lang {
  color: var(--main-color);
}

.intro img {
  width: 958.6px;
}

/* about me section */

.about-me {
  width: 100%;
  height: 506px;
  background-color: #f6f6f6;
  margin-top: 104px;
}

.about-me h2,
.about-me p {
  text-align: center;
}

.about-me h2 {
  padding-top: 120px;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.17;
}

.about-me p {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.17;
}

/* skills section */

.skills h2,
.skills p {
  text-align: center;
}

.skills h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.18;
}

.skills p {
  margin-top: 69px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.16;
}

.skills-list {
  height: 206px;
  width: 1083px;
  margin: 83px auto;
}

.item {
  float: left;
  width: 166px;
  height: 206px;
  margin: 0 auto;
  margin-right: 90px;
}

.item p {
  margin-top: 23px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--secondary-color);
}

.item-logo {
  display: block;
  width: 89.21px;
  margin: auto;
}

.figma-logo {
  display: block;
  width: 58.25px;
  margin: 0 auto;
}

.stars {
  height: 26px;
  margin-top: 18px;
}

.figma-stars {
  margin-top: 33px;
}

/* Portfolio section */

.portfolio {
  background-color: #f6f6f6;
}

.portfolio ul {
  padding-bottom: 96px;
}

.portfolio h2 {
  padding-top: 112px;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.17;
  text-align: center;
}

.portfolio-item img {
  width: 936.24px;
  margin: 47px 257px;
}

.portfolio-item p {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-top: 45px;
}

.portfolio-item a {
  color: var(--main-color);
  text-decoration: underline;
}

/* footer */

footer h2 {
  padding-top: 114px;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.17;
  text-align: center;
}

footer p {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
}

footer button {
  background-color: #000000;
  color: #ffffff;
  width: 180.5px;
  height: 42px;
  border-radius: 21px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.16;
  margin: 43px 677px;
}

footer button:hover {
  cursor: pointer;
}

.footer-list {
  width: 446px;
  margin: 86px 566px;
}

.footer-list li {
  margin-right: 61px;
  float: left;
}

.media {
  color: var(--secondary-color);
  text-align: center;
  margin-top: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
